
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
    color: white;

}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://pbs.twimg.com/media/F-NCZ7ibAAATutS?format=jpg&name=small);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 140vh;
}

.container-seleccionar-mascota{
    width: 50%;
    height: auto;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 159, 163, 0.5);
    margin-bottom: 5px;
}


.container-seleccionar-mascota_details{
    width: 50%;
    height: auto;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 195, 226, 0.5);
    margin-bottom: 5px;
}

.titulo{
    color: white;
    font-size: 32px;

}

.subtitulo{
    color: white
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 150px;
    height: 150px;
    background-color: rgba(31, 29, 29, 0.5);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.tarjeta-de-mokepon img{
    width: 80px;
    object-fit: cover;
    height: 60%;
}

input{
    display:none
}

.container-botones-tarjetas{
    display: flex;
    gap: 3px;
}

#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 25px 0px;
}

.pokedex-button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 25px 0px;
}

#boton-mascota:hover{
    background-color: white;
    color: #041562;
}
.pokedex-button:hover{
    background-color: white;
    color: #041562;
}

#GraficoDetails{
    width: 310px;
    height: 100%;
    color: white;
    font-size:xx-large;
    background-color: rgba(31, 29, 29, 0.5);
    margin-bottom: 20px;
    border-radius: 20px;
}