
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    font-family: 'Fredoka One', cursive;
    background: #000000;

}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://pbs.twimg.com/media/F-NCZ7ibAAATutS?format=jpg&name=small);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.container-seleccionar-mascota{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.titulo{
    color: rgba(31, 29, 29, 0.5);
    font-size: 32px;

}

.subtitulo{
    color: rgba(31, 29, 29, 0.5);
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 150px;
    height: 150px;
    background-color: rgba(31, 29, 29, 0.5);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.tarjeta-de-mokepon img{
    width: 80px;
    object-fit: cover;
    height: 60%;
}

input{
    display:none
}

.container-botones-tarjetas{
    display: flex;
    gap: 3px;
}